@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*! Variables */
:root {
	--clr-day: #d2d2d2;
	--clr-night: #000000e6;
	--clr-accent-day: #c7365f;
	--clr-accent-night: #d46438;
	--clr-bg-day: linear-gradient(to top left, #64abfc 0%, #345df9 100%);
	--clr-bg-night: linear-gradient(to top left, #9b4679 0%, #213dae 100%);
	--clr-twitter-day: #333;
	--clr-bg-twitter-day: #ffffff4d;
	--clr-bg-twitter-night: #000000e6;
	--trans-speed-default: all 0.75s;
	--trans-speed-btn: 0.4s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	height: 100vh;
	color: var(--clr-default);
	background-image: var(--clr-bg-day);
	display: flex;
	align-items: center;
	justify-content: center;
}

a {
	text-decoration: none;
	color: var(--clr-default);
}

/*! LAYOUT */
main {
	position: relative;
	width: 100rem;
	height: auto;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 2.75rem 0 black;
	border-radius: 2rem;
	border: 0.75rem solid black;
	overflow: hidden;
	display: flex;
}

/*! Left */
.left {
	flex: 50%;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	transition: var(--trans-speed-default);
	gap: 1rem;
	background-color: #ffffff66;
}

.left--content {
	position: relative;
	font-size: 4.75rem;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 1rem;
}

.hashtag {
	color: var(--clr-night);
}

.twitter--handle {
	position: relative;
	color: var(--clr-twitter-day);
	background: none;
	border: none;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: bolder;
	transition: var(--trans-speed-default);
	padding: 0.7rem 2.5rem;
	border-radius: 50rem;
	background-color: var(--clr-bg-twitter-day);
}

/*! Right */
span .js--logo {
	width: 2rem;
	height: auto;
	position: relative;
}

.right {
	/* background-color: #222; */
	flex: 50%;
	padding: 5rem;
	padding-left: 8rem;
	display: grid;
	gap: 1.5rem;
	transition: var(--trans-speed-default);
}

.list--items {
	font-size: 1.75rem;
	font-weight: bold;
	color: var(--clr-night);
	margin-bottom: 0.125rem;
	transition: var(--trans-speed-default);
}

.list--items::marker {
	color: var(--clr-accent-day);
}

.list--title {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1rem;
	list-style: none;
	color: var(--clr-accent-day);
	transition: var(--trans-speed-default);
}

.list--nested {
	padding-left: 0.125rem;
	list-style: none;
}

.list--nested .list--items::before {
	content: "➥ ";
	color: var(--clr-accent-day);
}

.colored {
	transition: var(--trans-speed-default);
	color: var(--clr-accent-day);
	/* color: #d3303d; */
	/* color: #7a64df; */
}

.hidden {
	display: none;
}

/*! media query */
/* For Mobile devices: 320px-480px
For Tablets or iPad: 480px - 768px
For Laptop or small-size screen: 768px -1024px
For Desktop or large-size screen: 1024px -1200px
For Extra-large size device: 1200px and more */
/** Mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
	/*! LAYOUT */
	main {
		position: relative;
		width: 100rem;
		height: auto;
		/* background-color: rgba(255, 255, 255, 0.5); */
		/* box-shadow: 0 2.75rem 0 black; */
		border-radius: 2rem;
		/* border: 0.75rem solid black; */
		overflow: hidden;
		display: flex;
		/** modified: */
		flex-direction: column;
	}

	/*! Left */
	.left {
		flex: 50%;
		padding: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		/* transition: var(--trans-speed-default); */
		gap: 1rem;
		/* background-color: #ffffff66; */
	}

	.left--content {
		position: relative;
		text-transform: capitalize;
		font-weight: 700;
		margin-bottom: 1rem;
		/** modified: */
		font-size: 2.75rem;
	}

	.hashtag {
		/* color: var(--clr-night); */
	}

	.darkModeBtn {
		position: absolute;
		/* position: relative; */
		top: 0;
		left: 0;
		transform: translate(40%, -50%) scale(0.35);
		/* display: none; */
	}

	.twitter--handle {
		position: relative;
		/* color: var(--clr-twitter-day); */
		background: none;
		border: none;
		font-family: inherit;
		font-size: 1.5rem;
		font-weight: bolder;
		/* transition: var(--trans-speed-default); */
		padding: 0.7rem 2.5rem;
		border-radius: 50rem;
		/* background-color: var(--clr-bg-twitter-day); */
	}

	/*! Right */
	.js-img {
		width: 2rem;
		position: relative;
		top: 1.1px;
	}

	.right {
		/* background-color: #222; */
		flex: 50%;
		padding: 5rem;
		display: grid;
		gap: 1.5rem;
		/* transition: var(--trans-speed-default); */
	}

	.list--items {
		font-size: 1.75rem;
		font-weight: bold;
		/* color: var(--clr-night); */
		margin-bottom: 0.125rem;
		/* transition: var(--trans-speed-default); */
	}

	.list--items::marker {
		/* color: var(--clr-accent-day); */
	}

	.list--title {
		font-size: 3rem;
		font-weight: bold;
		margin-bottom: 1rem;
		list-style: none;
		/* color: var(--clr-accent-day); */
		/* transition: var(--trans-speed-default); */
	}

	.list--nested {
		padding-left: 0.125rem;
		list-style: none;
	}

	.list--nested .list--items::before {
		content: "➥ ";
		/* color: var(--clr-accent-day); */
	}

	.colored {
		transition: var(--trans-speed-default);
		/* color: var(--clr-accent-day); */
		/* color: #d3303d; */
		/* color: #7a64df; */
	}
}
/** Tablet */
@media screen and (min-width: 480px) {
}
/** Small screens: laptop, etc.. */
@media screen and (min-width: 480px) {
}

/*! === DARK MODE STARTS HERE === */
.body--dark {
	background-image: var(--clr-bg-night);
}
.left--dark {
	background-color: #0b0b0b;
}
.hashtag--dark {
	color: #6250b3;
}
.twitter--handle--dark {
	background-color: var(--clr-bg-twitter-night);
	color: var(--clr-day);
}
.right--dark {
	background-color: #222;
}
.list--items--dark {
	color: var(--clr-day);
}
.list--items--dark::marker {
	color: var(--clr-accent-night);
}
.list--title--dark {
	color: var(--clr-accent-night);
}
.list--nested .list--items--dark::before {
	content: "➥ ";
	color: var(--clr-accent-night);
}
.colored--dark {
	color: var(--clr-accent-night);
}

/* TODO Clean this up */
/* .btn {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.btn input {
	opacity: 0;
	width: 0;
	height: 0;
}

.darkMode {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: var(--trans-speed-btn);
	border-radius: 34px;
}

.darkMode:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: var(--trans-speed-btn);
	border-radius: 50%;
} */

/*! ========= darkModeToggleBtn by @_Raunaq_ ========= */
.darkModeBtn {
	position: absolute;
	transform: translate(85%, -20%) scale(0.4); /** beside DAY */
	transform: translate(65%, -20%) scale(0.4); /** beside DAY */
}
#hide-checkbox {
	opacity: 0;
	height: 0;
	width: 0;
}

.toggle {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 100px;
	background: #211042;
	border-radius: 50px;
	transition: 500ms;
	overflow: hidden;
}

.toggle-button {
	position: absolute;
	display: inline-block;
	top: 7px;
	left: 6px;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	background: #faeaf1;
	overflow: hidden;
	box-shadow: 0 0 35px 4px rgba(255, 255, 255);
	transition: all 500ms ease-out;
}

/* ! ========= V2 Starts here ========= 
.toggle:before {
	content: "PM";
	position: fixed;
	color: var(--clr-accent-night);
	font-size: 5rem;
	top: 0;
	left: 0;
	transform: translate(-150%, 25%);
}
.toggle:after {
	content: "AM";
	position: fixed;
	color: #749ed7;
	font-size: 5rem;
	top: 0;
	right: 0;
	transform: translate(150%, 25%);
}
input:checked + .toggle:before {
	color: #749ed7;
}
input:checked + .toggle:after {
	color: var(--clr-accent-day);
}
! ========= END ========= */

.crater {
	position: absolute;
	display: inline-block;
	background: #faeaf1;
	border-radius: 50%;
	transition: 500ms;
}

.crater-1 {
	background: #fffff9;
	width: 86px;
	height: 86px;
	left: 10px;
	bottom: 10px;
}

.crater-2 {
	width: 20px;
	height: 20px;
	top: -7px;
	left: 44px;
}

.crater-3 {
	width: 16px;
	height: 16px;
	top: 20px;
	right: -4px;
}

.crater-4 {
	width: 10px;
	height: 10px;
	top: 24px;
	left: 30px;
}

.crater-5 {
	width: 15px;
	height: 15px;
	top: 40px;
	left: 48px;
}

.crater-6 {
	width: 10px;
	height: 10px;
	top: 48px;
	left: 20px;
}

.crater-7 {
	width: 12px;
	height: 12px;
	bottom: 5px;
	left: 35px;
}

.star {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	background: #fff;
	box-shadow: 1px 0 2px 2px rgba(255, 255, 255);
}

.star-1 {
	width: 6px;
	height: 6px;
	right: 90px;
	bottom: 40px;
}

.star-2 {
	width: 8px;
	height: 8px;
	right: 70px;
	top: 10px;
}

.star-3 {
	width: 5px;
	height: 5px;
	right: 60px;
	bottom: 15px;
}

.star-4 {
	width: 3px;
	height: 3px;
	right: 40px;
	bottom: 50px;
}

.star-5 {
	width: 4px;
	height: 4px;
	right: 10px;
	bottom: 35px;
}

.star-6,
.star-7,
.star-8 {
	width: 10px;
	height: 2px;
	border-radius: 2px;
	transform: rotate(-45deg);
	box-shadow: 5px 0px 4px 1px #fff;
	-webkit-animation-name: travel;
	animation-name: travel;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-out;
	animation-timing-function: ease-out;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.star-6 {
	right: 30px;
	bottom: 30px;
	-webkit-animation-delay: -2s;
	animation-delay: -2s;
}

.star-7 {
	right: 50px;
	bottom: 60px;
}

.star-8 {
	right: 90px;
	top: 10px;
	-webkit-animation-delay: -4s;
	animation-delay: -4s;
}

@-webkit-keyframes travel {
	0% {
		transform: rotate(-45deg) translateX(70px);
	}

	50% {
		transform: rotate(-45deg) translateX(-20px);
		box-shadow: 5px 0px 6px 1px #fff;
	}

	100% {
		transform: rotate(-45deg) translateX(-30px);
		width: 2px;
		height: 2px;
		opacity: 0;
		box-shadow: none;
	}
}

@keyframes travel {
	0% {
		transform: rotate(-45deg) translateX(70px);
	}

	50% {
		transform: rotate(-45deg) translateX(-20px);
		box-shadow: 5px 0px 6px 1px #fff;
	}

	100% {
		transform: rotate(-45deg) translateX(-30px);
		width: 2px;
		height: 2px;
		opacity: 0;
		box-shadow: none;
	}
}

#hide-checkbox:checked + .toggle {
	background: #24d7f7;
}

#hide-checkbox:checked + .toggle .toggle-button {
	background: #f7ffff;
	transform: translateX(102px);
	box-shadow: 0 0 35px 5px rgba(255, 255, 255);
}

#hide-checkbox:checked + .toggle .toggle-button .crater {
	transform: rotate(-45deg) translateX(70px);
}

#hide-checkbox:checked + .toggle .star {
	-webkit-animation: move 2s infinite;
	animation: move 2s infinite;
	transform: none;
	box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-1 {
	width: 40px;
	height: 10px;
	border-radius: 10px;
	background: #fff;
	left: 20px;
	top: 25px;
	box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-2 {
	width: 12px;
	height: 12px;
	background: #fff;
	left: 26px;
	top: 23px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-3 {
	width: 16px;
	height: 16px;
	background: #fff;
	left: 35px;
	top: 19px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-4 {
	width: 14px;
	height: 14px;
	background: #fff;
	left: 46px;
	top: 21px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-5 {
	width: 60px;
	height: 15px;
	border-radius: 15px;
	background: #fff;
	left: 30px;
	bottom: 20px;
	box-shadow: none;
}

#hide-checkbox:checked + .toggle .star-6 {
	width: 18px;
	height: 18px;
	background: #fff;
	border-radius: 50%;
	left: 38px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-7 {
	width: 24px;
	height: 24px;
	background: #fff;
	border-radius: 50%;
	left: 52px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

#hide-checkbox:checked + .toggle .star-8 {
	width: 21px;
	height: 21px;
	background: #fff;
	border-radius: 50%;
	left: 70px;
	top: 59px;
	box-shadow: -1px 0 2px 0 rgba(0, 0, 0, 0.1);
}

@-webkit-keyframes move {
	0% {
		transform: none;
	}

	25% {
		transform: translateX(2px);
	}

	100% {
		transform: translateX(-2px);
	}
}

@keyframes move {
	0% {
		transform: none;
	}

	25% {
		transform: translateX(2px);
	}

	100% {
		transform: translateX(-2px);
	}
}

p {
	text-align: center;
	letter-spacing: 15px;
	background: #34495e;
	color: #fff;
}

p.morning {
	background: #e67e22;
}
