// // https: //coolors.co/000000-14213d-fca311-e5e5e5-ffffff
// $oxford-blue: hsla(221, 51%, 16%, 1);
// $orange-web: hsla(37, 98%, 53%, 1);
// $platinum: hsla(0, 0%, 90%, 1);
// $white: hsla(0, 0%, 100%, 1);

// // https: //coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
// $yinmn-blue: hsla(214, 35%, 37%, 1);
// $powder-blue: hsla(202, 46%, 72%, 1);
// $light-cyan: hsla(182, 82%, 93%, 1);
// $burnt-sienna: hsla(12, 83%, 62%, 1);
// $gunmetal: hsla(218, 23%, 21%, 1);

//! SASS variables
// colors for transparency / alpha
$clr-white: #eee;
$clr-black: #000;

// font
$ff-main: "Nunito", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
	Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$ff-emoji: "Noto Color Emoji";

// font breakpoint
$mobile: 600em;
$tablet: 768em;
$desktop: 1024em;

// wearables
$wearables-padding: 1.5rem;
$werables-list-padding-left: 3.5ch;

//! CSS variables
:root {
	--clr-primary: hsl(343, 63%, 50%);
	--clr-left-text: hsl(0, 0%, 20%);
	--clr-link: hsl(0, 0%, 20%);
	--clr-text: hsl(225, 5%, 16%);

	--scrollbar-hover: hsl(343, 63%, 40%);
	--scrollbar-active: hsl(343, 80%, 60%);
	--scrollbar-width: 15px;
	--scrollbar-height: 10px;

	--bg-container: hsla(0, 0%, 100%, 0.5);
	--bg-first-section: hsla(0, 0%, 100%, 0.4);
	--bg-twitter-handle: hsla(0, 0%, 93%, 0.25);
	--bg-second-section: unset;
	--bg-indent: hsla(0, 0%, 93%, 0.4);
	--bg-border: #fff;

	--bg-alpha: 0.75;
	--blue-start: 100, 171, 252;
	--blue-end: 52, 93, 249;
	--bg-img: linear-gradient(to top left, rgba(var(--blue-start), var(--bg-alpha)), rgba(var(--blue-end), var(--bg-alpha))), url(../assets/img/cloud.webp);

	// theme toggle btn
	--toggle-indicator-size: clamp(1.2rem, 3vw, 4rem);
	--track-width: calc(var(--toggle-indicator-size) * 3);
	--track-height: calc(var(--toggle-indicator-size) + .8rem);
	--speed: 0.2s;

	@media only screen and (max-width: 300px) {
		--toggle-indicator-size: 1.125rem;
		--track-width: calc(var(--toggle-indicator-size) * 2.5);
		--track-height: calc(var(--toggle-indicator-size) + 0.6rem);
	}

	@include media(600em) {
		--toggle-indicator-size: clamp(1.2rem, 3vw, 4rem);
		--track-width: calc(var(--toggle-indicator-size) * 2.5);
		--track-height: calc(var(--toggle-indicator-size) + 1rem);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--clr-primary: hsl(17, 65%, 53%);
		--clr-link: hsla(251, 39%, 51%);
		--clr-text: hsl(0, 0%, 82%);
		--clr-left-text: var(--clr-text);

		--scrollbar-hover: hsl(17, 65%, 40%);
		--scrollbar-active: hsl(17, 100%, 60%);

		--bg-first-section: hsla(0, 0%, 0%, 0.875);
		--bg-twitter-handle: hsla(0, 0%, 0.5%, 0.6);
		--bg-second-section: hsla(0, 0%, 2.3%, 0.875);
		--bg-indent: hsla(0, 0%, 0.5%, 0.6);
		--bg-border: var(--clr-primary);

		--orange-start: 155, 70, 121;
		--orange-end: 33, 61, 174;
		--bg-img: linear-gradient(to top left, rgba(var(--orange-start), var(--bg-alpha)), rgba(var(--orange-end), var(--bg-alpha))), url(../assets/img/cloud.webp);

	}
}

// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	margin: 0;
}

body {
	// min-height: 100vh;
	min-height: -webkit-fill-available;
	height: 100vh;

	@supports (min-height: 100svh) {
		height: 100svh;
	}
}

@supports(min-height: -moz-available) {

	html,
	body {
		min-height: -moz-available;
		height: 100%;
	}
}

html {
	height: -webkit-fill-available;
	font: 700 62.5% / normal $ff-main; //$ 10px
	color-scheme: light;
}

body {
	background-image: var(--bg-img);
	// background-image: $bg-img, url(../assets/img/cloud.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--clr-text);

	&::after {
		content: "</>";
		font-family: sans-serif;
		font-size: clamp(2rem, 10vw, 7.2rem);
		color: var(--clr-primary);
		position: fixed;
		z-index: -1;
		right: min(6vw, 3rem);
		bottom: min(6vw, 2rem);
	}

	:focus {
		outline: thick solid var(--clr-primary);
	}

	::selection {
		background-color: var(--clr-primary);
		color: $clr-white;
	}
}

.container {
	background: var(--bg-container);
}