// color
$clr-primary: hsl(343, 60%, 50%);
$clr-primary--dark: hsl(17, 65%, 53%);
$clr-link: hsl(251, 39%, 51%);
$clr-left-text: hsl(0, 0%, 20%);
$clr-text: hsl(225, 5%, 16%);

$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

// https: //coolors.co/000000-14213d-fca311-e5e5e5-ffffff
$black: hsla(0, 0%, 0%, 1);
$oxford-blue: hsla(221, 51%, 16%, 1);
$orange-web: hsla(37, 98%, 53%, 1);
$platinum: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 100%, 1);

// https: //coolors.co/palette/3d5a80-98c1d9-e0fbfc-ee6c4d-293241
$yinmn-blue: hsla(214, 35%, 37%, 1);
$powder-blue: hsla(202, 46%, 72%, 1);
$light-cyan: hsla(182, 82%, 93%, 1);
$burnt-sienna: hsla(12, 83%, 62%, 1);
$gunmetal: hsla(218, 23%, 21%, 1);

$bg-alpha: .5;
$bg-alpha--dark: .8;
$clr-bg: linear-gradient(to top left, rgba(#64abfc, $bg-alpha) 0%, rgba(#345df9, $bg-alpha) 100%);
$clr-bg--dark: linear-gradient(to top left, rgba(#9b4679, $bg-alpha--dark) 0%, rgba(#213dae, $bg-alpha--dark) 100%);

// font
$ff-main: "Nunito", system-ui, -apple-system, BlinkMacSystemFont,
	'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// font breakpoint
$mobile: 600em;
$tablet: 768em;
$desktop: 1024em;

$left-height: 20vh;
$right-height: 80vh;

// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	margin: 0;
}

//! html
html {
	font: 700 62.5% $ff-main;
	// font-size: 62.5%; //$ 10px
	color-scheme: light;
}

.body {
	min-height: 100vh;
	// min-height: -webkit-fill-available;

	@supports(min-height: 100svh) {
		// min-height: 100svh //$ enable post build
	}

	background-image: $clr-bg,
	url(../assets/img/cloud.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $clr-text;

	&::after {
		content: "</>";
		font-family: sans-serif;
		font-size: clamp(4rem, 10vw, 7.2rem);
		color: $clr-primary;
		position: fixed;
		position: absolute;
		z-index: -1;
		right: 3rem;
		bottom: 2rem;
	}

	:focus {
		outline: thick solid $clr-primary;
	}

	::selection {
		background-color: $clr-primary;
		color: $clr-white;
	}

	&--dark {
		::selection {
			background-color: $clr-primary--dark;
			color: $clr-white;
		}

		background-image: $clr-bg--dark,
		url(../assets/img/cloud.jpg);
	}
}

.container {
	border-radius: 16px;
	overflow: hidden;
	background-color: rgba($clr-white, .5);
}