// reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	margin: 0;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
	height: 100vh;

	@supports (height: 100svh) {
		// min-height: 100svh;
		// height: 100svh;
	}
}

@supports (min-height: -moz-available) {
	html,
	body {
		min-height: -moz-available;
		height: 100%;
	}
}

html {
	height: -webkit-fill-available;
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-weight: 700;
	line-height: normal;
	font-family: $ff-main;
}

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}

	*,
	:after,
	:before {
		scroll-behavior: auto !important;
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
	}
}

body {
	background-image: var(--bg-img);
	// background-image: $bg-img, url(../assets/img/cloud.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: var(--clr-text);

	&::after {
		content: "</>";
		font-family: sans-serif;
		font-size: clamp(2rem, 10vw, 7.2rem);
		color: var(--clr-primary);
		position: fixed;
		z-index: -1;
		right: min(6vw, 3rem);
		bottom: min(6vw, 2rem);
	}

	:focus {
		outline: thick solid var(--clr-primary);
	}

	::selection {
		background-color: var(--clr-primary);
		color: $clr-white;
	}
}

.container {
	background: var(--bg-container);
}
