.days {
	$padding-block: 3rem;
	$padding-inline: 3rem;
	background-color: rgba($clr-white, 0.5);
	// min-height: $left-height;
	padding: $padding-block $padding-inline;
	color: $clr-left-text;

	&__spent {
		font-size: clamp(2.8rem, 9vw, 7.6rem);
		color: $clr-primary;
	}

	&__hashtag,
	&__twitter {
		// position: relative;
		// display: inline-block;
	}

	&__hashtag--link,
	&__twitter-handle {
		display: inline-block;
		color: $clr-left-text;
		text-decoration: none;
	}

	&__hashtag--link {
		font-size: clamp(2.4rem, 8vw, 7.6rem);
	}

	&__twitter-handle {
		font-size: clamp(1.4rem, 4.5vw, 2.4rem);
		padding: .5rem 1.5rem;
		border-radius: 100rem;
		background-color: rgba($clr-white, .25);
	}

}

.btn {
	display: block;
	display: none;
	cursor: pointer;

	&--color-scheme {
		// border: none;
		background-color: palevioletred;
	}
}