.first-section {
	$padding-block: 3rem;
	$padding-inline: 6rem;
	background-color: rgba($clr-white, 0.5);
	padding: $padding-block 0;
	color: $clr-left-text;

	@include media(1024em) {
		padding: $padding-block $padding-inline;
	}

	a:link,
	a:visited {
		text-decoration: none;
		color: $clr-left-text;
		display: inline-block;
	}

	&__spent {
		color: $clr-primary;
	}

	&__spent,
	&__hashtag {
		font-size: clamp(.8rem, 5vw, 7.6rem);
	}

	&__twitter-handle {
		font-size: clamp(.8rem, 2.5vw, 2.4rem);
		padding: min(1vw, 1rem) min(2.5vw, 2rem);
		border-radius: 100rem;
		background-color: rgba($clr-white, .25);

		@include media(420em) {
			// padding: 1.25rem 2.75rem;
		}

		@include media(1024em) {
			margin-top: 4rem;

		}
	}


	@media only screen and (max-width: 300px) {
		// text-align: center;

		&__twitter-handle {}
	}
}