body {
	display: grid;
	place-content: center;

	*::-webkit-scrollbar {
		width: var(--scrollbar-width);
		height: var(--scrollbar-height);

		&-thumb {
			border-radius: 100rem;
			border: 0.3rem solid transparent;
			box-shadow: inset 0 0 0 10rem var(--clr-primary);

			&:hover {
				box-shadow: inset 0 0 0 10rem var(--scrollbar-hover);
			}

			&:active {
				box-shadow: inset 0 0 0 10rem var(--scrollbar-active);
			}
		}
	}

	@supports (scrollbar-color: #000 #333) {
		scrollbar-color: var(--clr-primary) rgba($clr-white, 0.75);
	}
}

.container {
	$margin-block: 4rem;
	$margin-inline: 3rem;
	max-width: 160rem;
	max-height: 75vh;
	border-radius: 16px;
	box-shadow: 0rem 2.5rem 0 rgba($clr-black, 0.85);
	overflow: hidden;
	display: grid;
	margin-top: $margin-block;
	margin-bottom: $margin-block * 1.5;
	position: relative;

	@media only screen and (orientation: landscape) and (min-width: 300px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media only screen and (max-width: 300px) {
		margin: initial;
		max-height: initial;
	}

	@include media(375em) {
		margin-left: $margin-inline;
		margin-right: calc($margin-inline * 1.5);
		box-shadow: 1.5rem 2.5rem 0 rgba($clr-black, 0.85);
	}

	@include media(1024em) {
		grid-template-columns: repeat(2, 1fr);
		box-shadow: 2rem 4rem 0 rgba($clr-black, 0.85);
	}
}

.first-section {
	$padding-block: 3rem;
	$padding-inline: 6rem;
	padding: min(12vw, min(6vw, 8rem));
	background-color: rgba($clr-white, 0.5);
	background-color: var(--bg-first-section);
	// position: relative;

	display: grid;
	place-content: center;
	// grid-template-columns: repeat(2, 1fr);
	// grid-template-columns: auto auto;
	// column-gap: clamp(1rem, 1vw, 5rem);

	a:link,
	a:visited {
		display: inline-block;
	}

	& > * {
		grid-column: 1 / -1;
	}

	&__spent,
	.toggle {
		grid-row: 1 / 2;
		align-self: center;
	}

	&__spent,
	.theme {
		grid-row: 1 / 2;
		align-self: center;
	}

	.toggle {
		justify-self: end;
	}

	.theme {
		grid-column: 1 / -1;
		justify-self: center;
		margin-left: clamp(2rem, 25vw, 10rem);
	}

	// &__spent {}

	&__twitter {
		margin-top: min(2vw, 4rem);
		margin-left: auto;
		margin-right: auto;

		@include media(1024em) {
			margin-left: 0;
		}

		&-handle {
			padding: 0.625em 1.125em;
			border-radius: 100rem;
			background-color: var(--bg-twitter-handle);
		}
	}
}

.list {
	$list-padding-left: clamp(4ch, 7vw, 4.25ch);
	$list-padding-top: min(3vw, 2rem);
	padding-top: $list-padding-top;
	padding-bottom: min(3vw, 4rem);
	padding-bottom: min(3vw, 4rem);
	padding-left: $list-padding-left;
	padding-right: 3ch;
	background: var(--bg-second-section);

	display: grid;
	row-gap: min(1.5vw, 3rem);
	overflow-y: auto;

	@media only screen and (max-width: 300px) {
		padding: $wearables-padding;
		padding-left: $werables-list-padding-left;
		padding-right: 1.5ch;
	}

	@media only screen and (orientation: landscape) and (min-width: 300px) and (max-width: 600px) {
		padding-left: 3ch;
		// overflow-x: hidden;
	}

	// &__box {}

	&__title {
		$title-padding-left: 2.5ch;
		$title-padding-top: 0.75rem;
		$title-padding-bottom: 1.5rem;
		z-index: 1;
		top: calc($list-padding-top * -1);
		width: calc((100% + $list-padding-left));
		padding: $title-padding-top 0 $title-padding-bottom 0;
		padding-left: $title-padding-left;
		margin-left: -$title-padding-left;

		//$ test
		// position: sticky;
		// background-color: lightsalmon;
		// background-color: var(--bg-second-section);
		// background-color: hsl(240, 6%, 13%);
		//todo: add bg when sticky activates

		@media only screen and (max-width: 300px) {
			$wearables-title-padding-left: 2ch;
			$wearables-title-padding-top: 0.25rem;
			$wearables-title-padding-bottom: 0.5rem;
			width: calc((100% + $werables-list-padding-left));
			// top: -$wearables-padding;
			top: calc(($wearables-padding * -1) - 1px);
			padding: $wearables-title-padding-top 0 $wearables-title-padding-bottom
				$wearables-title-padding-left;
		}

		@media only screen and (orientation: landscape) and (width >=300px) and (width <=600px) {
			// width: 100%;
			padding-left: $title-padding-left - 1.5ch;
		}
	}

	&__item {
		max-width: max-content;

		a {
			position: relative;
			z-index: 0;
		}
	}

	&__item--indent {
		list-style: none;
		background-color: var(--bg-indent);
		padding: 0.25rem 1rem;
		border-radius: 5px;
	}
}
