.body {
	display: grid;
	place-content: center;

	*::-webkit-scrollbar {
		width: 15px;
		height: 10px;


		&-thumb {
			border-radius: 100rem;
			border: .3rem solid transparent;
			box-shadow: inset 0 0 0 10rem var(--clr-primary);

			&:hover {
				box-shadow: inset 0 0 0 10rem hsl(343, 60%, 40%);
			}

			&:active {
				box-shadow: inset 0 0 0 10rem hsl(343, 60%, 53%);
			}
		}
	}

	@supports(scrollbar-color: #000 #333) {
		scrollbar-color: var(--clr-primary) rgba($clr-white, .75);
	}
}

.container {
	max-width: 160rem;
	max-height: 90rem;
	border-radius: 16px;

	display: grid;
	overflow: hidden;
	box-shadow: 0rem 2.5rem 0 rgba($clr-black, .85);

	@include media(340em) {
		margin: 2rem;
		box-shadow: 1.5rem 2.5rem 0 rgba($clr-black, .85);
	}

	@include media(1024em) {
		margin: 3rem;
		grid-template-columns: repeat(2, 1fr);
		box-shadow: 2rem 4rem 0 rgba($clr-black, .85);
	}
}

.first-section {
	$padding-block: 3rem;
	$padding-inline: 6rem;
	padding: min(12vw, min(6vw, 8rem));
	background-color: rgba($clr-white, 0.5);
	background-color: var(--bg-first-section);

	display: grid;
	place-content: center;

	a:link,
	a:visited {
		display: inline-block;
	}

	& > * {
		grid-column: 1 / -1;
	}

	&__spent,
	.toggle {
		grid-row: 1 / 2;
	}

	.toggle {
		justify-self: end;
	}

	// &__spent {}

	&__twitter {
		margin-top: min(2vw, 4rem);
		margin-left: auto;
		margin-right: auto;

		@include media(1024em) {
			margin-left: 0;
		}
	}

	&__twitter-handle {
		padding: .625em 1.125em;
		border-radius: 100rem;
		background-color: rgba($clr-white, .25);
	}
}

.list {
	padding: min(3vw, 4rem);
	padding-left: min(5vw, 6.5rem);
	background: var(--bg-second-section);

	display: grid;
	row-gap: min(1.5vw, 3rem);
	overflow-y: auto;

	@media only screen and (max-width: 300px) {
		padding: 1.5rem;
		padding-left: 2rem;
	}

	&__item {
		max-width: max-content;
	}

	&__item--indent {
		list-style: none;
		background-color: var(--bg-indent);
		padding: .25rem 1rem;
		border-radius: 5px;
	}

	& > * {
		display: grid;
		row-gap: min(1.5vw, 1rem);
	}

}