$toggle-size: clamp(2.5rem, 10vw, 8rem);

.toggle {
	align-items: center;
	position: relative;
	display: flex;
	width: $toggle-size;
	height: calc($toggle-size / 1.85);
	border-radius: 999rem;
	background-color: var(--bg-toggle);
	overflow: hidden;
	cursor: pointer;

	&::before,
	&::after {
		content: "";
		display: block;
		position: absolute;
		width: calc($toggle-size / 2.45);
		height: calc($toggle-size / 2.45);
		border-radius: 999rem;
		// top: 1rem;
		left: calc($toggle-size / 15);
		transition: transform 0.35s ease;
	}

	&::before {
		background-color: var(--clr-primary);
	}

	&:after {
		background-color: var(--bg-toggle);
		// background-color: green;
		left: -35%;
		transform: scale(0.00001);
	}
}

input[type="checkbox"] {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;

	&:checked + label {
		&::before {
			// background-color: palevioletred;
			transform: translateX(calc($toggle-size / 2.25));
		}

		&::after {
			$translateX: calc($toggle-size / 1.45);
			$translateY: max(-1rem, -0.5vw);
			// $translateY: -0.5vw;
			// $translateX: ;
			transform: translateX($translateX) translateY($translateY) scale(1);
		}
	}

	&:focus + .toggle {
		outline: 1px solid var(--clr-primary);
	}
}
