@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*? Global Variables */
:root {
	--clr-main-bg: hsla(0, 0%, 100%, 0.5);
	--clr-night: hsla(0, 0%, 0.1%, 0.9);
	--clr-bg-night-right: hsla(0, 0%, 2.3%, 0.9);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	background: no-repeat center/cover url(/images/night.jpg);
	font: normal 1rem "Nunito";
}

a {
	text-decoration: none;
}

button {
	background: none;
	border: 1px solid var(--clr-main-bg);
	color: var(--clr-main-bg);
}

.hidden {
	display: none;
}

/*? LAYOUT */
main {
	background: var(--clr-main-bg);
	font-size: 2.5em;
	border: 0.75rem solid black;
}

section.left {
	background: var(--clr-night);
	padding: 3rem;
}

.left--content--heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.left--content--heading--day {
	font-size: 1.35em;
}

.left--content--heading--btn {
}

.hashtag {
	color: var(--clr-main-bg);
}
.twitter-handle {
	color: var(--clr-main-bg);
}

section.right {
	background: var(--clr-bg-night-right);
	font-size: 0.5em;
	padding: 1.75rem 3rem;
}

.right--content {
}
