@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*! Variables */
:root {
	--clr-main-bg: hsla(0, 0%, 100%, 0.5);
	--clr-bg-day-left: hsla(0, 0%, 100%, 0.4);
	--clr-day: hsl(0, 0%, 82%);
	--clr-night: hsla(0, 0%, 0.1%, 0.9);
	--clr-bg-night-right: hsla(0, 0%, 2.3%, 0.9);
	--clr-accent-day: hsl(343, 57%, 50%);
	--clr-accent-night: hsl(17, 64%, 53%);
	--clr-bg-day: linear-gradient(to top left, #64abfc 0%, #345df9 100%);
	--clr-bg-night: linear-gradient(to top left, #9b4679 0%, #213dae 100%);
	--clr-twitter-day: hsl(0, 0%, 20%);
	--clr-bg-twitter-day: hsla(0, 0%, 100%, 0.3);
	--clr-bg-twitter-night: hsla(0, 0%, 0.5%, 0.9);
	--trans-speed-default: all 0.75s;
	/* color: #d3303d; */
	/* color: #7a64df; */
}

html {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: var(--clr-haha);
}

body {
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	height: 100vh;
	background: var(--clr-bg-day);
	display: flex;
	align-items: center;
	justify-content: center;
}

.body::before {
	content: ">_";
	position: fixed;
	font-size: 8rem;
	bottom: 0.5%;
	right: 2%;
	color: var(--clr-accent-day);
}

.body::after {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: no-repeat center/cover url("../assets/cloud.jpg");
	opacity: 0.3;
}

.body--dark::before {
	color: var(--clr-accent-night);
}

.body--dark {
	background: var(--clr-bg-night);
}

/*! LAYOUT */
main {
	position: relative;
	width: 100rem;
	height: auto;
	background-color: var(--clr-main-bg);
	box-shadow: 0 2.75rem 0 black;
	border-radius: 2rem;
	border: 0.75rem solid black;
	overflow: hidden;
	display: flex;
}

/*! Left */
.left {
	flex: 50%;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	transition: var(--trans-speed-default);
	gap: 1rem;
	background-color: var(--clr-bg-day-left);
}

.left--content {
	position: relative;
	font-size: 4.75rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

.heading-one {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "day day toggleBtn";
}

.day {
	grid-area: day;
}

.toggle-switch {
	grid-area: toggleBtn;
	top: 15%;
}

.hashtag {
	color: var(--clr-night);
}

.twitter--handle {
	position: relative;
	color: var(--clr-twitter-day);
	background: none;
	border: none;
	font-family: inherit;
	font-size: 1.5rem;
	font-weight: bolder;
	transition: var(--trans-speed-default);
	padding: 0.7rem 2.5rem;
	border-radius: 50rem;
	background-color: var(--clr-bg-twitter-day);
}

/*! Right */
span .js--logo {
	width: 2rem;
	height: auto;
	position: relative;
}

.right {
	flex: 50%;
	padding: 5rem;
	padding-left: 8rem;
	display: grid;
	gap: 1.5rem;
	transition: var(--trans-speed-default);
}

.list--items {
	font-size: 1.75rem;
	font-weight: bold;
	color: var(--clr-night);
	margin-bottom: 0.125rem;
	transition: var(--trans-speed-default);
	word-spacing: 0.5px;
}

.list--items::marker {
	color: var(--clr-accent-day);
}

.list--title {
	font-size: 3rem;
	font-weight: bold;
	margin-bottom: 1rem;
	list-style: none;
	color: var(--clr-accent-day);
	transition: var(--trans-speed-default);
}

.list--nested {
	padding-left: 0.125rem;
	list-style: none;
}

.list--nested .list--items::before {
	content: "➥ ";
	/* padding-left: 3rem; */
	color: var(--clr-accent-day);
}

.colored {
	transition: var(--trans-speed-default);
	color: var(--clr-accent-day);
}

.hidden {
	display: none;
}

/*? === DARK MODE STARTS HERE === */
.body--dark {
	background: var(--clr-bg-night);
}

.left--dark {
	background-color: var(--clr-night);
}

.hashtag--dark {
	color: #6250b3;
}

.twitter--handle--dark {
	background-color: var(--clr-bg-twitter-night);
	color: var(--clr-day);
}

.right--dark {
	background-color: var(--clr-bg-night-right);
}

.list--items--dark {
	color: var(--clr-day);
}

.list--items--dark::marker {
	color: var(--clr-accent-night);
}

.list--title--dark {
	color: var(--clr-accent-night);
}

.list--nested .list--items--dark::before {
	content: "➥ ";
	color: var(--clr-accent-night);
}

.colored--dark {
	color: var(--clr-accent-night);
}