@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*? Global Variables */
:root {
	--clr-bg-main: hsla(0, 0%, 100%, 0.5);
	--clr-bg-night-right: hsla(0, 0%, 2.3%, 0.9);
	--clr-bg-day-left: hsla(0, 0%, 100%, 0.4);
	--clr-night: hsla(0, 0%, 0.1%, 0.875);
	--clr-accent-day: hsl(343, 57%, 50%);
	--clr-accent-night: hsl(17, 64%, 53%);
	--clr-links-day: hsl(0, 0%, 20%);
	--clr-links-night: hsl(251, 39%, 51%);
	--clr-bg-toggle-btn: hsl(220, 50%, 90%);
	--clr-bg-toggle-btn-night: hsl(225, 5%, 16%);
	--clr-day: hsl(0, 0%, 82%);
	--clr-bg-night-right: hsla(0, 0%, 2.3%, 0.875);
	--clr-bg-day: linear-gradient(to top left, #64abfc 0%, #345df9 100%);
	--clr-bg-night: linear-gradient(to top left, #9b4679 0%, #213dae 100%);
	--clr-bg-twitter-day: hsla(0, 0%, 100%, 0.3);
	--clr-bg-twitter-night: hsla(0, 0%, 0.5%, 0.6);
	--trans-speed-default: all 0.75s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*! scroll bar */
*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
	width: 1rem;
	border-radius: 5rem;
	background-clip: padding-box;
	border: 4px solid transparent;
}

*::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 0 1rem var(--clr-bg-night-right);
}

html {
	height: -webkit-fill-available;
	font: bold 1rem "Nunito";
}

body {
	background: var(--clr-bg-day);
	display: grid;
	place-content: center;
	height: 100vh;
	height: 100svh;
	/* height: -webkit-fill-available; */
}

body::before {
	content: "</>";
	font-family: sans-serif;
	transition: var(--trans-speed-default);
	position: absolute;
	bottom: 0.5rem;
	right: 3rem;
	font-size: 3rem;
	font-weight: 400;
	color: var(--clr-accent-day);
}

body::after {
	content: "";
	position: fixed;
	width: 100%;
	height: 100%;
	background: top/cover url(../assets/img/cloud.jpg);
	z-index: -1;
	opacity: 0.3;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

/*? LAYOUT */
main {
	position: relative;
	background: var(--clr-bg-main);
	border-radius: 1rem;
	max-width: 1600px;
	max-height: 900px;
	display: grid;
	overflow: hidden;
}

/* ? Left */
.left {
	transition: var(--trans-speed-default);
	background-color: var(--clr-bg-day-left);
	padding: 3rem;
	display: grid;
	position: relative;
}

.left--content {
	display: grid;
	place-items: center;
}

.left--content--heading {
	display: flex;
	gap: min(2.5rem, 3.5vw);
}

.left--content--heading--day {
	font-size: 1.75em;
}

.hashtag {
	transition: var(--trans-speed-default);
	color: var(--clr-links-day);
	font-size: 1.5em;
}

.left--content--links {
	display: grid;
	gap: 0.4rem;
}

.twitter-handle {
	display: inline-block;
	transition: var(--trans-speed-default);
	color: var(--clr-links-day);
	border-radius: 5rem;
	padding: 0.125rem 0.75rem;
	background-color: var(--clr-bg-twitter-day);
	font-size: 1em;
}

/*? Toggle Button (Dark Mode) */
.toggle-switch {
	position: relative;
	width: 4.25rem;
}

label {
	position: absolute;
	width: 75%;
	/* height: 2.35rem; */
	height: 100%;
	background-color: var(--clr-bg-toggle-btn-night);
	border-radius: 5rem;
	cursor: pointer;
}

input {
	position: absolute;
	display: none;
}

.slider {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50px;
	transition: 0.3s;
}

input:checked ~ .slider {
	background-color: var(--clr-bg-toggle-btn);
}

.slider::before {
	content: "";
	position: absolute;
	top: 0.2rem;
	left: 0.4rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	box-shadow: inset 0.65rem -4px 0px 0px var(--clr-accent-night);
	background-color: var(--dark);
	transition: 0.3s;
}

input:checked ~ .slider::before {
	transform: translateX(1rem);
	background-color: var(--clr-accent-day);
	box-shadow: none;
}

/*? Right */
.right {
	transition: var(--trans-speed-default);
	padding: 1.75rem 0.625rem 1.75rem 2.5rem;
	overflow-y: scroll;
}

.right--content {
	font-size: 1.125rem;
}

.colored {
	transition: var(--trans-speed-default);
	color: var(--clr-accent-day);
}

.logo {
	height: 2.5rem;
	margin-right: 1rem;
}

/* list */
.list {
	display: grid;
	gap: 0.125rem;
}

.list--items {
	transition: var(--trans-speed-default);
	font-weight: bold;
	color: var(--clr-night);
	word-spacing: 0.5px;
}

.list__link {
	text-decoration: underline;
	color: var(--clr-links-night);
}

.list--items::marker {
	transition: var(--trans-speed-default);
	color: var(--clr-accent-day);
}

.list--title {
	transition: var(--trans-speed-default);
	color: var(--clr-accent-day);
	list-style: none;
	margin-bottom: 0.75rem;
}

.list--items.list--title {
	color: var(--clr-links-night);
}

.another--list .list--title {
	margin-top: 1.5rem;
}

.list--nested {
	list-style: none;
	padding-left: 0.125rem;
}

.list--nested .list--items {
	transition: var(--trans-speed-default);
	font-size: 0.75em;
	background-color: var(--clr-bg-twitter-day);
	padding: 0.35rem 1rem;
	border-radius: 3px;
}

.list--nested .list--items:first-of-type {
	margin-top: 0.25rem;
}

/* .list--nested .list--items::before {
	transition: var(--trans-speed-default);
	content: "➥ ";
	color: var(--clr-accent-day);
} */

.span--items::before {
	transition: var(--trans-speed-default);
	content: "➥ ";
	padding-left: 2rem;
	color: var(--clr-accent-night);
}

/*? Dark Mode */
.body--dark {
	background: var(--clr-bg-night);
}

.body--dark::before {
	color: var(--clr-accent-night);
}

.hashtag--dark {
	color: var(--clr-links-night);
}

.twitter-handle--dark {
	color: var(--clr-day);
	background-color: var(--clr-bg-twitter-night);
}

.colored--dark {
	color: var(--clr-accent-night);
}

.left--dark {
	background-color: var(--clr-night);
}

.right--dark {
	background-color: var(--clr-bg-night-right);
}

.list--items--dark {
	color: var(--clr-day);
}

.list--items--dark::marker {
	color: var(--clr-accent-night);
}

.list--title--dark {
	color: var(--clr-accent-night);
}

.list--nested .list--items--dark {
	background-color: var(--clr-bg-twitter-night);
}

/* .list--nested .list--items--dark::before {
	content: "➥ ";
	color: var(--clr-accent-night);
} */
